
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #4b2e0f 10%, #1a0a03 40%, #1a0a03 60%, #4b2e0f 90%); /* Dark wood texture */
    font-family: Matrix, monotone;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-image: url('images/blackleathertexture.jpg'); /* Corrected syntax */
    background-size: 93% 100%;
    border-right: 1px solid #333333; /* Soft gray border */
    z-index: 10; /* Adjust the z-index to make sure it's below the button */
}

.sidebarlogo {
    position: absolute;
    top: 15%; /* Center the logo vertically */
    left: 50%; /* Center the logo horizontally */
    transform: translate(-50%, -50%);
    width: 160px; /* Adjust logo width as needed */
    height: 160px; /* Adjust logo height as needed */
    background-image: url('images/mainsuslogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8; /* Adjust opacity as needed */
    z-index: 11; /* Place the logo above the sidebar content */
}

.background {
    margin-left: 10px; /* Adjust this value based on the sidebar width */
    padding: 2px;
    border: 1px solid #333333; /* Add a 1px border with color #333333 */
    height: 100vh; /* Set the height to 100% of the viewport height */
}
/* ... (other CSS rules) ... */

.content {
    margin-left: 280px;
    margin-right: 4px;
    margin-top: 8px;
    padding: 2px;
    color: gold;
    height: 100vh;
    width: calc(100vw - 280px); /* Adjusted width to account for the sidebar width */
    background-color: #121212;
    position: relative; /* Add relative positioning */
    right: 0;
    overflow: auto; /* Add overflow for scrolling */
}


.terminal-container {
    position: fixed;
    top: 30px;
    left: 250px;
    margin: 1px;
    padding: 0px;
	outline: 1px solid #333333;
    border-left: 20px solid #1f1f1f;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
	z-index: 8; /* Adjust the z-index to make sure it's below the button */
	opacity: 0.6
	
}

.terminal {
    width: 300px;
	height: 110px;
    border: none;
    background-color: #121212;

    overflow: hidden;
    margin-top: 4px;
    padding: 2px 2px;
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange content in a column */
}

.terminaloutput {
	color: green;
	min-height: calc(95% - 30px);
    margin: 1.8px 0;
	margin-bottom: 18px;
    padding: 0px;
    scroll-behavior: smooth; /* Scroll smoothly when new messages are added */
	font-weight: bold;
}

.terminalinput {
    width: 306px;
    margin: 0;
    background-color: #121212;
    outline: none;
    color: green; /* Change the text color to green */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    border: 1px solid #333333; /* Add a border at the top of the input */
}
.terminalinput::placeholder {
    color: green; /* Change the placeholder text color to green */
}

.toggle-button {
    position: fixed;
    z-index: 1;
    width: 20px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    left: 251px; /* Position on the left side */
    top: 10%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    background: radial-gradient(circle, #666666 10%, #444444 40%, #333333 60%, #222222 90%); /* Silver and dark gray gradient */
    color: gold; /* Button text color */
    writing-mode: vertical-lr; /* Vertical text */
	font-size: 6;
	font-weight: bold;
    text-align: center;
	opacity: 1;
    padding: 1px;
    cursor: pointer;
	z-index: 9;
}

/*-----------------------------------*/


.mainslideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow: hidden;
    position: relative;
}

.mainslideshow img {
    width: 100%;
    height: auto;
    background-image: url('images/mainslide/mainslide1.png');
    background-size: contain;
}

